<header class="headerGlobal mdl-layout__header">
  <button class="mdl-layout__drawer-button" (click)="toggleMenu()">
    <span class="material-icons"></span>
  </button>

  <div class="mdl-layout__header-row">
    <span class="headerGlobal__title mdl-layout-title">Título da página atual</span>

    <div class="mdl-layout-spacer"></div>

    <!-- Search -->
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
         mdl-textfield--floating-label mdl-textfield--align-right is-focused mdl-cell--hide-phone ">
      <!--Para fechar remover is-focused-->
      <label class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp">
        <span class="material-icons">search</span>
      </label>
      <div class="mdl-textfield__expandable-holder">
        <input class="headerSearch__input mdl-textfield__input" type="text" name="sample" id="fixed-header-drawer-exp"
          placeholder="Filtrar e-mails...">
      </div>
    </div>
    <!--./Search-->
  </div>
</header>
<section class="headerGlobal__menuArea mdl-layout__drawer" [ngClass]="{'headerGlobal__menuArea--active': isMenuOpen}">
  <span class="mdl-layout-title">
    <img class="headerGlobal__logo" src="assets/img/logo.svg" alt="CMail">
  </span>

  <header class="headerGlobal__userInfo">
    <img src="http://placehold.it/48x48" class="headerGlobal__userInfoAvatar">
    <div class="headerGlobal__userInfoData">
      <h5 class="headerGlobal__userInfoDataName">Pessoa de Tal</h5>
      <span>pesso.al@cmail.br</span>
      <div class="mdl-layout-spacer"></div>
    </div>
  </header>

  <nav class="mdl-navigation">
    <a class="mdl-navigation__link">
      <span class="material-icons">person</span> Login
    </a>
    <a class="mdl-navigation__link">
      <span class="material-icons">create</span> Cadastro
    </a>
    <a class="mdl-navigation__link">
      <span class="material-icons">inbox</span> Caixa de Entrada
    </a>
    <a class="mdl-navigation__link">
      <span class="material-icons">logout</span> Logout
    </a>
  </nav>
</section>
<div class="headerGlobal__menuOverlay" (click)="toggleMenu()"></div>